{% extends "layout.html" %}
{% block content %}
<h2>Initial Setup</h2>
<form method="post">
    <label for="server_dir">Server directory:</label>
    <select name="server_dir" id="server_dir" required>
        {% for d in dirs %}
        <option value="/opt/{{ d }}">{{ d }}</option>
        {% endfor %}
    </select>
    <label for="host">RCON Host:</label>
    <input name="host" id="host" required>
    <label for="port">RCON Port:</label>
    <input type="number" name="port" id="port" value="25575" required>
    <label for="password">RCON Password:</label>
    <input type="password" name="password" id="password" required>
    <button type="submit">Save</button>
</form>
{% endblock %}
